{% extends 'base.html' %}

{% block body %}
<div class="content-body">
    <div class="container-fluid">
        <!-- Add Project -->
        <div class="modal fade" id="addProjectSidebar">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create Project</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label class="text-black font-w500">Project Name</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="text-black font-w500">Deadline</label>
                                <input type="date" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="text-black font-w500">Client Name</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary">
                                    CREATE
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, Selamat datang di Koi Analyst!</h4>
                    <p class="mb-0">System untuk mengolahan sentiment analyst</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">
                        <a href="javascript:void(0)">Dashboard</a>
                    </li>
                </ol>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-12 col-xxl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Sentiment Analysist Step</h4>
                    </div>
                    <div class="card-body">
                        <div id="step1">
                            <h2 class="">Step 1</h2>
                            <h3 class="mt-3">Pilih Komentar</h3>
                            <div class="row">
                                <div class="col-md-9">
                                    <select class="mt-2 form-control default-select" id="sel1">
                                        <option value="" selected disabled>Pilih Komentar</option>
                                        <option value="Jaringan Telkomsel">
                                            Jaringan Telkomsel
                                        </option>
                                        <option value="Kenyamanan Telkomsel">
                                            Kenyamanan Telkomsel
                                        </option>
                                        <option value="Layanan Telkomsel">
                                            Layanan Telkomsel
                                        </option>
                                        <option value="Internet Telkomsel">
                                            Internet Telkomsel
                                        </option>
                                        <option value="Harga Telkomsel">
                                            Harga Telkomsel
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-12 text-center">
                                    <button id="crawl" class="btn btn-primary my-2 btn-block">
                                        Crawl Komentar
                                    </button>
                                </div>
                            </div>
                            <div style="display: none" class="w-100" id="data-crawl">
                                <h3 class="mt-3">Data Komentar Tercrawl</h3>
                                <div class="table-responsive mt-3">
                                    <table id="example" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th>Waktu</th>
                                                <th>Username</th>
                                                <th>Tweet</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="step2" style="display: none;">
                            <h2 class="my-2">Step 2</h2>
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <button id="cleanbutton" class="btn btn-primary my-2 text-center btn-block">
                                        Clean HTML Text and Clean Mention
                                    </button>
                                </div>
                            </div>
                            <div style="display: none" id="data-html-mention">
                                <h3 class="mt-3">Data Clean</h3>
                                <div class="table-responsive mt-3">
                                    <table id="cleanhtmlmention" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th>Waktu</th>
                                                <th>Username</th>
                                                <th>Tweet</th>
                                                <th>clean Html</th>
                                                <th>clean Mention</th>
                                                <th>English</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="step3" style="display: none;">
                            <h2 class="my-2">Step 3</h2>
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <button id="sentimentButton" class="btn btn-primary my-2 text-center btn-block">
                                        Process Sentiment
                                    </button>
                                </div>
                            </div>
                            <div style="display: none" id="sentiment-result-block">
                                <h3 class="mt-3">Sentiment Result</h3>
                                <div class="table-responsive mt-3">
                                    <table id="sentimentresult" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th>Waktu</th>
                                                <th>Username</th>
                                                <th>Tweet</th>
                                                <th>clean Html</th>
                                                <th>clean Mention</th>
                                                <th>English</th>
                                                <th>Sentiment</th>
                                                <th>Polarity</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <h3 class="my-2">Pie Chart Sentiment Tweet</h2>
                            </div>
                            <div class="chart-point text-center my-2"
                                style="height: 400px !important; width: 100% !important;">
                                <div class="check-point-area" style="height: 400px !important; width:60% !important;">
                                    <canvas id="pie_chart"
                                        style="height: 400px !important; width: 60% !important;"></canvas>
                                </div>
                                <div class="d-flex flex-column justify-content-center" id="infochart"
                                    style="height: 400px !important; width:40% !important;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!--**********************************
        Scripts
    ***********************************-->

{% block js %}
<!-- Required vendors -->
<script>
    const sel = $("#sel1");
    $("#crawl").on("click", function () {


        if (sel.val() !== null)
        {
            $(this).html(`<i class="fa fa-spinner fa-spin "></i>`);
            $("#example").dataTable().fnDestroy();
            var table = $("#example").DataTable({
                buttons: [
                    {
                        extend: 'excel',
                        messageTop: 'Powered by Koi Brother'
                    },
                ],
                autoWidth: false,
                aLengthMenu: [
                    [5, 10, 15, 25, 50, 100, -1],
                    [5, 10, 15, 25, 50, 100, "All"],
                ],
                iDisplayLength: 5,
                ajax: {
                    url: "{{url_for('getComment')}}?comment=" + sel.val(),
                    type: "GET",
                },
                createdRow: function (row, data, index) {
                    $(row).addClass("selected");
                },
                fnInitComplete: function () {
                    $("#crawl").html("Crawl Commentar");
                    $("#data-crawl").show();
                    $("#step2").show();
                },
            });
        } else
        {
            alert("pilih dulu lah lek iya kali enggak !!");
        }
    });

    $("#cleanbutton").on("click", function () {

        if (sel.val() !== null)
        {
            $(this).html(`<i class="fa fa-spinner fa-spin "></i>`);
            $("#cleanhtmlmention").dataTable().fnDestroy();
            var table = $("#cleanhtmlmention").DataTable({
                dom: 'lBrtip',
                buttons: [
                    {
                        extend: 'excel',
                        messageTop: 'Powered by Koi Brother'
                    },
                ],
                autoWidth: false,
                aLengthMenu: [
                    [5, 10, 15, 25, 50, 100, -1],
                    [5, 10, 15, 25, 50, 100, "All"],
                ],
                iDisplayLength: 5,
                ajax: {
                    url: "{{url_for('cleanHtml')}}",
                    type: "GET",
                },
                createdRow: function (row, data, index) {
                    $(row).addClass("selected");
                },
                fnInitComplete: function () {
                    $("#cleanbutton").html("Clean HTML Text and Clean Mention");
                    $("#data-html-mention").show();
                    $("#step3").show();
                },
            });
        } else
        {
            alert("pilih dulu lah lek iya kali enggak !!");
        }
    });

    $("#sentimentButton").on("click", function () {

        if (sel.val() !== null)
        {
            $(this).html(`<i class="fa fa-spinner fa-spin "></i>`);
            $("#sentimentresult").dataTable().fnDestroy();
            var table = $("#sentimentresult").DataTable({
                dom: 'lBrtip',
                buttons: [
                    {
                        extend: 'excel',
                        messageTop: 'Powered by Koi Brother'
                    },
                ],
                autoWidth: false,
                aLengthMenu: [
                    [5, 10, 15, 25, 50, 100, -1],
                    [5, 10, 15, 25, 50, 100, "All"],
                ],
                iDisplayLength: 5,
                ajax: {
                    url: "{{url_for('sentimentAnalyst')}}",
                    type: "GET",
                },
                createdRow: function (row, data, index) {
                    $(row).addClass("selected");
                },
                fnInitComplete: function () {
                    $("#sentimentButton").html("Process Sentiment");
                    $("#sentiment-result-block").show();
                    $("hiddenpie").show();
                    $.ajax({
                        url: "{{url_for('chart')}}", success: function (result) {
                            const pie_chart = document.getElementById("pie_chart").getContext('2d');
                            // pie_chart.height = 100;
                            new Chart(pie_chart, {

                                type: 'pie',
                                data: {
                                    defaultFontFamily: 'Poppins',
                                    datasets: [{
                                        data: result,
                                        borderWidth: 0,
                                        backgroundColor: [
                                            "#20c997",
                                            "#E8E8E8",
                                            "#EB8153 ",
                                        ],
                                        hoverBackgroundColor: [
                                            "#20c997",
                                            "#E8E8E8",
                                            "#EB8153 ",
                                        ]

                                    }],
                                    labels: [
                                        "Positif",
                                        "Netral",
                                        "Negatif",
                                    ]
                                },
                                options: {
                                    responsive: true,
                                    legend: false,
                                    maintainAspectRatio: false,
                                }
                            });
                            const total = result[0] + result[1] + result[2];
                            $("#infochart").html(`<h3 style='font-size=16px;'><i class="fa fa-circle mr-1" style="color: #20c997;"></i>${result[0] / total * 100} % Positif 
                                                                </h3>
                                                            <h3 style='font-size=16px;'><i class="fa fa-circle  mr-1" style="color:#E8E8E8;"></i>${result[1] / total * 100} % Netral 
                                                                </h3>
                                                            <h3 style='font-size=16px;'><i class="fa fa-circle  mr-1" style="color: #EB8153"></i>${result[2] / total * 100} % Negatif
                                                            </h3>`)

                        }
                    });
                },
            });



        } else
        {
            alert("pilih dulu lah lek iya kali enggak !!");
        }
    });
</script>

{% endblock%}