{% extends 'base.html' %} {% block body %}

<div class="content-body">
  <div class="container-fluid">
    <div class="container ms-auto balya-container">
      <div class="card justify-content-center" style="width: 50vw">
        <div class="card-body">
          <h5 class="card-title">statis</h5>
          <select class="mt-2 mb-3 form-control default-select" id="sel1">
            <option value="" selected disabled>Pilih Komentar</option>
            <option value="Jaringan Telkomsel">Jaringan Telkomsel</option>
            <option value="Kenyamanan Telkomsel">Kenyamanan Telkomsel</option>
            <option value="Layanan Telkomsel">Layanan Telkomsel</option>
            <option value="Internet Telkomsel">Internet Telkomsel</option>
            <option value="Harga Telkomsel">Harga Telkomsel</option>
          </select>
          <!-- coba2 ngepush ulang ma brooo -->
          <select class="mt-2 mb-3 form-control default-select" id="sel1">
            <option value="" selected disabled>Pilih Bulan</option>
            <option value="Jaringan Telkomsel">Bulan 1</option>
            <option value="Jaringan Telkomsel">Bulan 2</option>
            <option value="Jaringan Telkomsel">Bulan 3</option>
            <option value="Jaringan Telkomsel">Bulan 4</option>
            <option value="Jaringan Telkomsel">Bulan 5</option>
            <option value="Jaringan Telkomsel">Bulan 6</option>
            <option value="Jaringan Telkomsel">Bulan 7</option>
            <option value="Jaringan Telkomsel">Bulan 8</option>
            <option value="Jaringan Telkomsel">Bulan 9</option>
            <option value="Jaringan Telkomsel">Bulan 10</option>
            <option value="Jaringan Telkomsel">Bulan 11</option>
            <option value="Jaringan Telkomsel">Bulan 12</option>
          </select>
          <div class="row mb-3">
            <div class="col">
              <a href="#" class="btn btn-primary mb-3">tampilkan data</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="#" class="btn btn-primary">Analisis sentimen</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
